.btn_success {
  margin-left: 6px;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #ffffff;
}
.btn_warning {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #ffffff;
}

.node_icon {
  color: #ff4d4f;
  z-index: 10;
}
.icon-tree {
  font-size: 10px;
}
