<nz-page-header nzBackIcon>
    <nz-page-header-title>DANH SÁCH PHÒNG HỌP</nz-page-header-title>
    <nz-page-header-subtitle>Danh sách phòng họp</nz-page-header-subtitle>
    <nz-page-header-extra>
      <div class="flex-grow-2 flex">
        <nz-space>
          <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
          <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
            nzType="default">
            <span nz-icon nzType="search"></span>
          </button>
          <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
            nzType="default">
            <span nz-icon nzType="redo"></span>
          </button>
        </nz-space>
        <button (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
          <span nz-icon nzType="plus-circle"></span> Thêm mới
        </button>
      </div>
    </nz-page-header-extra>
    <nz-page-header-content class="main-content">
      <nz-table class="auto-scroll-table" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
        [nzScroll]="{ y: 'calc(100vh - 244px)' }">
        <thead>
          <tr>
            <th nzWidth="60px">STT</th>
            
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
              Tên phòng họp
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Type', $event)" nzAlign="center">
                Sức chứa
              </th>
              <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('Type', $event)" nzAlign="center">
                Tầng
              </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
              Trạng thái
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
            <td>
              {{
              (paginationResult.currentPage - 1) * paginationResult.pageSize +
              i +
              1
              }}
            </td>
            <td nzAlign="center">
              <a (click)="openEdit(data)">{{ data.name }}</a>
            </td>
            <td nzAlign="center">{{ data.type }}</td>
            <td nzAlign="center">
              <nz-tag nzColor="success" *ngIf="data.isActive">
                <nz-icon nzType="check-circle" />
                <span>Kích hoạt</span>
              </nz-tag>
              <nz-tag nzColor="error" *ngIf="!data.isActive">
                <nz-icon nzType="close-circle" />
                <span>Khoá</span>
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-page-header-content>
    <nz-page-header-content class="footer-content">
      <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
        <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
          [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
          (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  
  <!--Create Update-->
  <nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
    [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <app-input-clear placeholder="Nhập tên phòng họp " [required]="true" label="Tên Phòng Họp"
          [control]="$any(validateForm).controls['name']" [required]="true"
         ></app-input-clear>
        <app-input-clear placeholder="Nhập loại phòng họp" [required]="true" label="Loại phòng họp"
          [control]="$any(validateForm).controls['type']"></app-input-clear>
          <app-input-clear placeholder="Nhập sức chứa" [required]="true" label="Sức chứa" type="number"
          [control]="$any(validateForm).controls['Size']"></app-input-clear>
        <app-input-clear placeholder="Nhập tầng" [required]="true" label="Tầng"
        type="number"
          [control]="$any(validateForm).controls['Floor']"></app-input-clear>
        <nz-form-item>
          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="isActive">
              <label nz-radio [nzValue]="true">Kích hoạt</label>
              <label nz-radio [nzValue]="false">Khoá</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <label>Chọn ảnh</label>
      <div class="main-upload">
        <div class="upload-avatar" (click)="fileInput.click()">
          <nz-icon nzType="cloud-upload" nzTheme="outline" style="font-size: 24px;"/>
          <div>Chọn ảnh</div>
        </div>
        <div class="avatar-preview" *ngIf="avatarBase64 != null && avatarBase64 != ''">
          <img [src]="avatarBase64" width="128" height="128"/>
        </div>
      </div>
      <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
      
    </ng-container>
 
  </nz-drawer>
  <ng-template #extra>
    <nz-space>
      <ng-container *ngIf="edit">
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <ng-container *ngIf="!edit">
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
        (click)="close()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
      </button>
    </nz-space>
  </ng-template>
