<nz-layout>
  <nz-sider *ngIf="showMainSidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzWidth]="'240px'">
    <ul nz-menu nzTheme="light" nzMode="inline" class="slider-c">
      <li nz-menu-item style="padding-left: 22px;">
        <div class="user">
          <div class="circle">
            <img [src]="userAvatar" alt="Avatar User">
          </div>
        </div>
      </li>
      <li nz-menu-item>
        <nz-icon class="icon-resize" nzType="home" nzTheme="outline" />
      </li>
      <li nz-menu-item>
        <nz-icon class="icon-resize" nzType="video-camera" nzTheme="outline" />
      </li>
      <li nz-menu-item>
        <nz-icon class="icon-resize" nzType="comment" nzTheme="outline" />
      </li>
      <li nz-menu-item>
        <nz-icon class="icon-resize" nzType="file" nzTheme="outline" />
      </li>
      <li nz-menu-item>
        <nz-icon class="icon-resize" nzType="setting" nzTheme="outline" />
      </li>
      <li nz-menu-item (click)="logOut()">
        <nz-icon class="icon-resize" nzType="logout" nzTheme="outline" style="color: #dc3545;" />
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <nz-spin [nzSpinning]="loading">
          <router-outlet></router-outlet>
        </nz-spin>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
