
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0;
  padding: 0 calc(50% - 22px / 2);
  text-overflow: clip;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

:host ::ng-deep .icon-resize svg {
  width: 20px;
  height: 20px;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

nz-header {
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2)
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}
nz-footer {
    text-align: center;
}

.slider-c{
  display: flex
;
    justify-content: center;
    flex-flow: column;
}

.ant-layout-sider {
    background: white;
    height: 100vh;
}

nz-content {
    margin: 0 !important;
}

.ant-menu {
    height: calc(100vh - 64px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.inner-content {
    padding: 0 !important;
    height: calc(100vh - 64px) !important;
    margin: 0;
}

.ant-collapse-content {
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
}

.ant-collapse-content-active {
    visibility: visible;
}
.ant-layout-header{
    height: 64px !important;
    display: flex;
    align-items: center;
    padding-right: 22px;
}
.user{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}
.full-name{
    margin-left: 6px;
}
.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle img {
    height: 36px;
    width: auto;
  }
