<div class="login">
  <div class="login-form">
    <nz-tabset nzCentered>
      <nz-tab [nzTitle]="passwordTab" (nzClick)="stopWebcam()">
        <ng-template #passwordTab><nz-icon nzType="key" />Mật khẩu</ng-template>
        <div class="login-form-content">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input placeholder="Tên đăng nhập" [(ngModel)]="model.userName"
              (keydown.enter)="processLogin()" />
          </nz-input-group>
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input placeholder="Mật khẩu" [(ngModel)]="model.password"
              (keydown.enter)="processLogin()" />
          </nz-input-group>
          <button nz-button class="btn-login" [nzType]="'primary'" (click)="processLogin()">Đăng nhập</button>
        </div>


      </nz-tab>
      <nz-tab [nzTitle]="faceIdTab" (nzClick)="startWebcam()">
        <ng-template #faceIdTab><nz-icon nzType="open-a-i" />FaceID</ng-template>
        <div class="login-form-content">
            <div class="face-id-content">
              <div class="webcam-container">
                <video #video autoplay playsinline></video>
              </div>
            </div>
        </div>
      </nz-tab>
    </nz-tabset>

  </div>
</div>
