.main-content {
  width: 100%;
  height: calc(-188px + 100vh);
  overflow: auto;
  padding: 0px 16px 0px 0px;
}

.footer-content {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: white;
  padding: 0 16px 4px 0px;
}

.ant-page-header {
  padding: 10px 0px 0px 20px;
}

.ant-page-header-heading {
  margin: 0px 16px 12px 0px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gray-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa !important;
  border-color: #dee2e6 !important;
  color: #212121 !important;
  padding: 8px;
}

.space-btn {
  margin-left: 6px;
}

.upload-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 128px;
  text-align: center;
  background: #F5F5F5;
  border: 1px dashed gray;
  cursor: pointer;
  margin: 6px 12px 0px 0px;
  flex-flow: column;
}

.upload-avatar:hover {
  border: 1px dashed hsl(209, 100%, 55%);
  color: hsl(209, 100%, 55%);
}

.main-upload {
  display: flex;
  align-items: center;
}

.avatar-preview {
  margin: 6px 12px 0px 0px;
}

.paging-table {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}

.drawer-item {
  margin-bottom: 12px;
}

.drawer-item label {
  margin-left: 6px;
}

.drawer-item input {
  margin-top: 6px;
}

.drawer-item nz-select {
  width: 100%;
  margin-top: 6px;
}
