<nz-page-header nzBackIcon>
    <nz-page-header-title>NHÓM TÀI KHOẢN</nz-page-header-title>
    <nz-page-header-subtitle>Danh sách nhóm tài khoản</nz-page-header-subtitle>
    <nz-page-header-extra>
      <div class="flex-grow-2 flex">
        <nz-space>
          <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()" [(value)]="filter.keyWord"></app-input-clear>
          <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
            nzType="default">
            <span nz-icon nzType="search"></span>
          </button>
          <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
            nzType="default">
            <span nz-icon nzType="redo"></span>
          </button>
        </nz-space>
        <button (click)="openCreate()" class="!flex !items-center space-btn" nzType="primary" nz-button>
          <span nz-icon nzType="plus-circle"></span> Thêm mới
        </button>
      </div>
    </nz-page-header-extra>
    <nz-page-header-content class="main-content">
      <nz-table class="auto-scroll-table" #headerTable [nzData]="paginationResult.data" [nzFrontPagination]="false"
        [nzScroll]="{ y: 'calc(100vh - 244px)' }">
        <thead>
          <tr>
            <th nzWidth="60px">STT</th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('meetingTitle', $event)">
              Tiêu đề cuộc họp
            </th>
           
           
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('meetingContent', $event)">
              Nội dung cuộc họp 
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('meetingAddress', $event)">
              Địa điểm
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('startDate', $event)">
              Thời gian bắt đầu
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('endDate', $event)">
              Thời gian kết thúc
            </th>
            
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
              Trạng thái
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data.id)">
            <td>
              {{
              (paginationResult.currentPage - 1) * paginationResult.pageSize +
              i +
              1
              }}
            </td>
            <td>
              <a (click)="openEdit(data)">{{ data.meetingTitle }}</a>
            </td>
            <td>{{data.meetingContent}}</td>
            <td>{{data.meetingAddress}}</td>
            <td>{{data.startDate}}</td>
            <td>{{data.endDate}}</td>
            <td nzAlign="center">
              <nz-tag nzColor="success" *ngIf="data.isActive">
                <nz-icon nzType="check-circle" />
                <span>Kích hoạt</span>
              </nz-tag>
              <nz-tag nzColor="error" *ngIf="!data.isActive">
                <nz-icon nzType="close-circle" />
                <span>Khoá</span>
              </nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-page-header-content>
    <nz-page-header-content class="footer-content">
      <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
        <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
          [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
          (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  
  <!--Create Update-->
  <nz-drawer [nzMask]="false" nzWidth="60%" [nzVisible]="visible" nzPlacement="right" nzTitle="Tạo mới"
  [nzExtra]="extra" (nzOnClose)="closeDrawer()">
  <nz-tabset *nzDrawerContent>
    <nz-tab nzTitle="Thông tin">
      <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <app-input-clear placeholder="Nhập chủ đề cuộc họp" [required]="true" label="Chủ đề cuộc họp"
          [control]="$any(validateForm).controls['meetingTitle']">
          
        </app-input-clear>
        <nz-form-item>
          <nz-form-label>người chủ trì </nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select
              nzShowSearch
              nzAllowClear
              [(ngModel)]="charPerson"
              placeholder="Chọn người chủ trì"
              formControlName="chairPerson"
              (ngModelChange)="chairPersonChange($event)"
            >
              <nz-option
                cdkScrollable
                *ngFor="let item of originalDataAccount "
                [nzLabel]="item.fullName"
                [nzValue]="item.userName"
              >
              </nz-option>
            </nz-select>
            
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Thư kí </nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select
              nzShowSearch
              nzAllowClear
              [(ngModel)]="secretary"
              placeholder="Chọn thư kí"
              formControlName="secretary"
              (ngModelChange)="chairPersonChange($event)"
            >
              <nz-option
                cdkScrollable
                *ngFor="let item of originalDataAccount "
                [nzLabel]="item.fullName"
                [nzValue]="item.userName"
              >
              </nz-option>
            </nz-select>
            
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Nhập địa điểm </nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select
              nzShowSearch
              nzAllowClear
              [(ngModel)]="MeetingRoomId"
              placeholder="Chọn chọn địa điểm"
              formControlName="MeetingRoomid"
              (ngModelChange)="selectRoom($event)"
            >
              <nz-option
                cdkScrollable
                *ngFor="let item of MeetingRoom "
                [nzLabel]="item.name"
                [nzValue]="item.id"
              >
              </nz-option>
            </nz-select>
            
          </nz-form-control>
        </nz-form-item>
       
        <app-input-clear type="textarea" placeholder="Nhập nội dung cuộc họp" label="Nội dung cuộc họp"
          [control]="$any(validateForm).controls['meetingContent']">
        </app-input-clear>
        <!-- date picker -->

    <nz-form-item>
      <nz-form-label>Thời gian bắt đầu</nz-form-label>
      <nz-form-control>
        <nz-date-picker 
          nzFormat="yyyy-MM-dd HH:mm"
          [nzShowTime]="{  nzFormat: 'HH:mm'}"
          formControlName ="startDate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Thời gian kết thúc</nz-form-label>
      <nz-form-control>
        <nz-date-picker 
          nzFormat="yyyy-MM-dd HH:mm"
          [nzShowTime]="{  nzFormat: 'HH:mm'}"
          formControlName ="endDate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

        <nz-form-item>

          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="isActive">
              <label nz-radio [nzValue]="true">Kích hoạt</label>
              <label nz-radio [nzValue]="false">Khoá</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Thành viên tham gia">
      <nz-transfer [nzTitles]="['Danh sách người dùng', 'Danh sách tham gia']" [nzDataSource]="DataAccount"
        [nzShowSearch]="true" [nzShowSelectAll]="false" [nzRenderList]="[renderList, renderList]"
        (nzChange)="changeTranfer($event)">
        <ng-template #renderList let-items let-direction="direction" let-stat="stat"
          let-onItemSelectAll="onItemSelectAll" let-onItemSelect="onItemSelect">
          <nz-table #t [nzData]="items" nzSize="small">
            <thead>
              <tr>
                <th [nzChecked]="stat.checkAll" [nzIndeterminate]="stat.checkHalf"
                  (nzCheckedChange)="onItemSelectAll($event)"></th>
                
                <th>Tên Tài khoản</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
                <td [nzChecked]="!!data.checked" (nzCheckedChange)="onItemSelect(data)"></td>
                <td>{{ data.userName }}</td>
                
                <td nzAlign="center">
                  <span [ngClass]="
                      data?.isActive ? '!text-green-500' : '!text-red-500'
                    " nz-icon nzType="check-circle" nzTheme="outline"></span>
                </td>
              </tr>
            </tbody>
          </nz-table>

        </ng-template>
      </nz-transfer>
      <div class="tableposition">
        <nz-table
          [nzScroll]="{ y: 'calc(50vh - 300px)' }">
        <thead>
          <tr>
            <th >Người tham gia</th>
            <th >Chỗ ngồi</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of listOfParticipants; let i = index">
            <td nzAlign="center"   >
              <nz-select  
              [(ngModel)]="data.userName"
                nzSize="large" 
                style="width: 50%;" 
                (ngModelChange)="changePosition($event)"
               >
                <nz-option 
                  *ngFor="let item of selectedPosition"
                  [nzValue]="item.userName" 
                  [nzLabel]="item.fullName">
                </nz-option>
              </nz-select>
            </td>
            <td nzAlign="center">{{ i + 1 }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    </nz-tab>
    
    <nz-tab nzTitle="Tài liệu đính kèm">
      <label>Chọn file</label>
      <div class="main-upload">
        <div class="upload-avatar" (click)="fileInput.click()">
          <nz-icon nzType="cloud-upload" nzTheme="outline" style="font-size: 24px;"/>
          <div>Chọn file</div>
        </div>
      </div>
      <div class="file-list" *ngIf="fileList.length > 0">
        <ul>
          <li *ngFor="let file of paginatedFileList; let i = index">
            <nz-icon *ngIf="file.name.endsWith('.xlsx') || file.name.endsWith('.xls')" nzType="file-excel" nzTheme="outline" style="font-size: 24px; color: #28a745;"></nz-icon>
              <nz-icon *ngIf="file.name.endsWith('.doc') || file.name.endsWith('.docx')" nzType="file-word" nzTheme="outline" style="font-size: 24px; color: #3a4cf0;"></nz-icon>
              <nz-icon *ngIf="file.name.endsWith('.txt')" nzType="file-text" nzTheme="outline" style="font-size: 24px; color: #c3c4c7;"></nz-icon>
              <nz-icon *ngIf="file.name.endsWith('.pdf')" nzType="file-pdf" nzTheme="outline" style="font-size: 24px; color: #d9534f;"></nz-icon>
            <span>{{ file.name }}</span>
            <button nz-button nzType="link" nzDanger (click)="removeFile(i)">
              <nz-icon nzType="delete" nzTheme="outline"></nz-icon> Xóa
            </button>
          </li>
        </ul>
       
      </div>
      <div>
        <nz-page-header-content class="footer-content">
          <div *ngIf="paginatedFileList" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
            <nz-pagination
            [nzPageSize]="pageSize"
            [nzTotal]="fileList.length"
            [(nzPageIndex)]="currentPage"
            (nzPageIndexChange)="onPageChange($event)">
            </nz-pagination>
          </div>
        </nz-page-header-content>
   
    </div>
      <input
        type="file"
        #fileInput
        accept=".doc,.docx,.pdf,.xlsx,.xls,.txt"
        (change)="onFileSelectedFile($event)"
        multiple
        style="display: none;"
        />
    
    </nz-tab>
  </nz-tabset>
  
</nz-drawer>
  <ng-template #extra>
    <nz-space>
      <ng-container *ngIf="edit">
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <ng-container *ngIf="!edit">
        <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
          (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
        (click)="close()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
      </button>
    </nz-space>
  </ng-template>