

.ant-menu-inline>.ant-menu-item,
.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-vertical-left>.ant-menu-item,
.ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-vertical-right>.ant-menu-item,
.ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title,
.ant-menu-vertical>.ant-menu-item,
.ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 62px;
  line-height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
}


.main-content {
  width: 100%;
  height: calc(-188px + 100vh);
  overflow: auto;
  padding: 0px 16px 0px 0px;
}

.footer-content {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background: white;
  padding: 0 16px 4px 0px;
}

.ant-page-header {
  padding: 10px 0px 0px 20px;
}

.ant-page-header-heading {
  margin: 0px 16px 12px 0px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gray-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa !important;
  border-color: #dee2e6 !important;
  color: #212121 !important;
  padding: 8px;
}

th {
  text-align: center !important;
}

.space-btn {
  margin-left: 6px;
}

.upload-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 128px;
  text-align: center;
  background: #F5F5F5;
  border: 1px dashed gray;
  cursor: pointer;
  margin: 6px 12px 0px 0px;
  flex-flow: column;
}

.upload-avatar:hover {
  border: 1px dashed hsl(209, 100%, 55%);
  color: hsl(209, 100%, 55%);
}

.main-upload {
  display: flex;
  align-items: center;
}

.avatar-preview {
  margin: 6px 12px 0px 0px;
}
.ant-card-body {
  padding: 6px 12px 6px 18px !important;
}

.ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav, .ant-tabs-top > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav {
  margin: 0px 0 6px 0 !important;
}
.ant-card-contain-grid:not(.ant-card-loading) .ant-card-body {
  padding: 0 !important;
}
