<div class="main-meet">
  <div class="meet-control">
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="home" nzTheme="outline" />
    </div>
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="video-camera" nzTheme="outline" />
    </div>
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="comment" nzTheme="outline" />
    </div>
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="file" nzTheme="outline" />
    </div>
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="setting" nzTheme="outline" />
    </div>
    <div class="item-control">
      <nz-icon class="icon-resize" nzType="logout" nzTheme="outline" style="color: #dc3545;" />
    </div>
  </div>
  <div class="meet-container">
    <nz-tabset nzType="card" [(nzSelectedIndex)]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)" nzCentered>
      <nz-tab [nzTitle]="ttch">
        <ng-template #ttch>
          <nz-icon nzType="info-circle" /> Thông tin cuộc họp
        </ng-template>
        <app-meeting-info [meetingId]="meetingId"></app-meeting-info>
      </nz-tab>

      <nz-tab [nzTitle]="tv">
        <ng-template #tv>
          <nz-icon nzType="usergroup-add" /> Thành viên
        </ng-template>
        <app-resource [meetingId]="meetingId"></app-resource>
      </nz-tab>

      <nz-tab [nzTitle]="bq">
        <ng-template #bq>
          <nz-icon nzType="line-chart" /> Biểu quyết
        </ng-template>
      </nz-tab>

      <nz-tab [nzTitle]="vb">
        <ng-template #vb>
          <nz-icon nzType="file" /> Văn bản
        </ng-template>
        <app-document [meetingId]="meetingId"></app-document>
      </nz-tab>

      <nz-tab [nzTitle]="tc">
        <ng-template #tc>
          <nz-icon nzType="video-camera" /> Trình chiếu
        </ng-template>
        <div #jitsiContainer id="jitsi-container" style="height: calc(100vh - 54px); padding: 4px 0 0 0px;">
        </div>
      </nz-tab>

      <nz-tab [nzTitle]="aihd">
        <ng-template #aihd>
          <nz-icon nzType="open-a-i" /> AI hỏi đáp
        </ng-template>
        <app-chat-bot [meetingId]="meetingId"></app-chat-bot>
      </nz-tab>

      <nz-tab [nzTitle]="dt">
        <ng-template #dt>
          <nz-icon nzType="translation" /> Dịch thuật
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
