.main-meet {
  display: flex;
  width: 100vw;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
}

.meet-control {
  width: 62px;
  display: flex;
  align-items: center;
  border-right: solid 1px #eeeeee;
  flex-flow: column;
  justify-content: center;
}

.meet-container {
  flex: 1;
}

.item-control{
  height: 62px;
  cursor: pointer;
}

.item-control:hover {
  color: #096dd9;
}


.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav,
.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav {
  padding: 6px 0 8px 0;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

::ng-deep document-editor {
  display: block;
  height: calc(100vh - 100px);
}

.list-document {
  width: 100%;
  border-left: solid 1px #f0f0f0;
  height: calc(100vh - 48px);
  overflow-y: auto;
  padding-left: 12px;
}

.documents-item {
  cursor: pointer;
}

.header-content {
  padding: 0;
  display: flex;
  gap: 66px;
  margin-bottom: 12px;
}



.tb {
  padding: 0 0 !important;
}



